li {
  font-size: 3rem;

  list-style: none;
}

.navWrapper {
  background-color: #333;

  overflow: hidden;
}

.navWrapper a,
.navWrapper h3 {
  font-size: 2.8rem;
  text-align: center;
  text-decoration: none;

  background-color: #333;
  color: white;

  display: block;
  float: left;

  padding: 0.5rem 10rem;
}

.navWrapper a:hover {
  text-decoration: underline;

  background-color: hsl(272, 27%, 38%);

  border: 0.5rem solid hsl(271, 17%, 50%);
}

.navWrapper h3 {
  background-color: #333;
  color: hsl(57, 100%, 91%);

  border: thick dashed hsl(271, 17%, 50%);
}
